name: flutter_scalify_example
description: "A beautiful example app demonstrating flutter_scalify engine capabilities"
publish_to: 'none'

version: 2.0.0

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_scalify:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true