name: flutter_scalify_example
description: "A comprehensive showcase of the Scalify Layout System (Grid, Flex, Adaptive, Scaling)."
publish_to: 'none'

version: 2.2.0

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_scalify:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true